<p class="about">
  Build your beat by clicking on the circles below.
  Click once for a soft tone, and again for a loud tone.
  Share your beat by copying the page link.
</p>

<div class="builder">

  <ul class="pieces">
    <li>Hi-Hat</li>
    <li>Hi-Tom</li>
    <li>Mid-Tom</li>
    <li>Lo-Tom</li>
    <li>Snare</li>
    <li>Kick</li>
  </ul>

  <ul class="beats">
    {{#each beats}}
      <li>
        <div class="beat">
          {{#each this itemController="note"}}
            <button {{action 'click' on='click'}}>
              <i {{bind-attr class='icon'}}></i>
            </button>
          {{/each}}
          <button {{action 'clear' this on='click'}} class="clear" title="Clear">
            <i class="fa fa-trash-o fa-lg"></i>
          </button>
        </div>
      </li>
    {{/each}}
  </ul>

  <ul class="counter">
    <li>1</li>
    <li>e</li>
    <li>&amp;</li>
    <li>a</li>
    <li>2</li>
    <li>e</li>
    <li>&amp;</li>
    <li>a</li>
    <li>3</li>
    <li>e</li>
    <li>&amp;</li>
    <li>a</li>
    <li>4</li>
    <li>e</li>
    <li>&amp;</li>
    <li>a</li>
  </ul>

</div>

<ul class="controls">

  <li>
    {{#if isPlaying}}
      <button {{action 'toggle'}} title="Pause">
        <i class="fa fa-fw fa-pause"></i>
      </button>
    {{else}}
      <button {{action 'toggle'}} title="Play">
        <i class="fa fa-fw fa-play"></i>
      </button>
    {{/if}}
  </li>

  <li class="spacer"></li>

  <li>
    <button {{action 'tempoDown'}} title="Decrease Tempo">
      <i class="fa fa-chevron-down"></i>
    </button>
  </li>

  <li>
    <button {{action 'tempoUp'}} title="Increase Tempo">
      <i class="fa fa-chevron-up"></i>
    </button>
  </li>

  <li>
    <span class="value">{{tempo}} bpm</span>
  </li>

  <li class="spacer"></li>

  <li>
    <button {{action 'preset' 0}} title="Reset">
      <i class="fa fa-trash-o"></i>
    </button>
  </li>

  <li>
    <button {{action 'preset' 1}} title="Preset #1">
      <span class="preset">1</span>
    </button>
  </li>

  <li>
    <button {{action 'preset' 2}} title="Preset #2">
      <span class="preset">2</span>
    </button>
  </li>

</ul>
